/* Default styling for body */
body {
  width: 33.33vw;
  color: #191919;
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.25px;
  line-height: 1.25;
}

a, a:visited {
    color: #191919;
    text-decoration: none;
    font-weight: 500;
}
  
a:hover {
    text-decoration: underline;
}

input {
    font-family: "Public Sans", serif;
    font-weight: 200;
  font-style: normal;
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 1.25;
}

.header {
    font-weight: 500;
}

.float-right {
    float: right;
}

.bold {
  font-weight: 500;
}

/* Breakpoint for iPad */
@media (max-width: 768px) {
  body {
    width: 97vw;
  }
}